# Ambiente virtual
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*$py.class


# Editor
.vscode/
.idea/

# Variáveis de Logs
logs/

# Variáveis de Bano
banco.txt
*.db
*.sqlite
*.sqlite3

# Variáveis de Ambiente
.env